[Settings]
KickActiveCharacter=0
InstantCamp=0
UseStationNamesInsteadOfSessions=0
UseINIServerList=1

[ServerList]
eqtitan={{ server_number }}

{% for i in range(characters |length) %}
[Session{{ i + 1 }}]
StationName={{ characters[i]['account'] }}
Password={{ characters[i]['password'] }}
Server=eqtitan
Character={{ characters[i]['name'] }}

{% endfor %}
